<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>
<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h2>
      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="entity-form">
    <div class="field-unit field-unit--string field-unit--optional">
      <div class="field-unit__label">
        <label>Type</label>
      </div>
      <div class="field-unit__field">
        <%= page.resource.e_type.titleize %>
      </div>
    </div>
    <div class="field-unit field-unit--string field-unit--optional">
      <div class="field-unit__label">
        <label>Legacy ID</label>
      </div>
      <div class="field-unit__field">
        <%= page.resource.legacy_pk %>
      </div>
    </div>
    <% page.attributes(controller.action_name).each do |title, attributes| -%>
      <% attributes.each do |attribute| %>
        <% next unless page.resource.allowed_attributes.include? attribute.name.to_sym %>
        <% next if attribute.name == 'e_type' %>
        <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
          <%= render_field attribute, f: f %>
        </div>
      <% end -%>
    <% end -%>
    <input type="hidden" name="entity[e_type]" value=<%= page.resource.e_type %>  autocomplete="off">
    <div class="form-actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
