<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<style>
 .label {
  font-weight: 400;
 }

 .section-head {
  padding-bottom: 1rem;
 }

 table, th, td {
  white-space: nowrap;
  width: 0;
 }
</style>

<% content_for(:title) { t("administrate.actions.show_resource", name: '') } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: ''),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body">
  <h1 class="section-head">Short Display</h1>
  <%= render inline: page.resource.short_display %>
</section>

<hr />

<section class="main-content__body">
  <h1 class="section-head">Full Display</h1>
  <h2><%= page.resource.e_type.titleize %>: <span class="label"><%= render inline: page.resource.label %></span></h2>
  <%= render inline: page.resource.full_display %>
</section>
