<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute, type: 'hidden' %>
  <% if field.resource.is_a? Entity %>
    <% if field.attribute == :label && field.resource.person? %>
      <%= field.to_s %>
      <br>
      <span style="font-size:.75rem;font-style:italic;">Label is created from the first name and last name properties</span>
    <% elsif field.attribute == :label && field.resource.attendance? %>
      <%= field.to_s %>
      <br>
      <span style="font-size:.75rem;font-style:italic;">Label is created from the event type and description properties</span>
    <% else %>
      <trix-editor input=<%= "#{field.resource.class.to_s.downcase}_#{field.attribute}" =%>></trix-editor>
    <% end %>
  <% else %>
    <trix-editor input=<%= "#{field.resource.class.to_s.underscore.downcase}_#{field.attribute}" =%>></trix-editor>
  <% end %>
</div>
